<!DOCTYPE html>
<html>
  <head>
    <title>SecureSchool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <header>
      <nav>
        <div class="header-wrap">
          <h1 class="header-edit"><%= link_to "Campus" %></h1>
        </div>
        <ul class="list-edit">
          <li><%= link_to "School" %></li>
          <li><%= link_to "Teacher" %></li>
          <li><%= link_to "Student" %></li>
    <%= yield %>
      </ul>
    </nav>
  </header>
  </div>
  </body>
</html>
