<!DOCTYPE html>
<html>
  <head>
    <title>SecureSchool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><%= link_to "Schools", root_path %></li>
            <li class="nav-link"><%= link_to "Teachers", teachers_path %></li>
            <li class="nav-link"><%= link_to "Students", students_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>



  </body>
</html>
